@import url("reset.css");
@import url("common.css");

body {
  font-family: "Inter", "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; /* 25/14 */
  background: #FFFFFF;
  color: #637381
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > .main {
  flex-grow: 1;
}

.header__inner,
.footer__inner {
  padding: 30px 0; 
}


[class*="__container"] {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  transition: opacity 0.3s;
}

/* --------------------post----------------------- */
.project {
  padding-top: 50px;
  padding-bottom: 50px;
}

.post {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 40px;
}

.post__category {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #9C9C9C;
}

.post__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 24px;
  transition: color 0.3s;
}

.post__text p:not(:last-child) {
  margin-bottom: 30px;
}

.post__link {
  transition: color 0.3s;
}

/* --------------------picture----------------------- */


.picture {
  display: grid;
  grid-gap: 18px;
}


.picture__link-box {
  position: relative;
  display: block;
  padding-top: 87.842466%; /* 513/584 */
  overflow: hidden;
}

.picture__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.3s;
}

@media (min-width: 425px) {

  .post__info {
    display: flex;
    justify-content: space-between;
    max-width: 422px;
  }
}

@media (min-width: 768px) {

  .picture {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
  }

  .picture__item:nth-child(3) {
    grid-column: span 2;
  }

  .picture__item:nth-child(3) .picture__link-box {
    padding-top: 42.75%;
  }

}

@media (min-width: 992px){
  

  .project {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .post {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
  }
  
  .post__category {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .post__text {
    flex-grow: 1;
  }

  .picture {
    grid-gap: 32px;
  }

}

@media (max-width: 991.98px){

  .post__text:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (any-hover:hover) {

  .logo:hover {
    opacity: 0.7;
  }

  .post__title:hover {
    color: #9C9C9C;
  }

  .post__link:hover {
    color: #333333;
  }

  .picture__link-box:hover .picture__img {
		transform: scale(1.1);
	}
}


/* =================tailgrids================= */

/* ---------------------product-------------------- */

.product {
  padding-top: 80px;
  padding-bottom: 80px;
}


.cart-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.cart-list__item {
  position: relative;
}

.cart-list__item:nth-child(1) {
  grid-row: span 2;
}

.cart-list__picture {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cart-list__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.3s;
}

.cart-list__box {
  position: relative;
  padding: 7.017544% 22.473684% 14.736842% 7.017544%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-weight: 600;
  z-index: 1;
}

.cart-list__tag {
  text-transform: capitalize;
}

.cart-list__tag::before {
  content: "#";
}

.cart-list__subtitle {
  font-size: 28px;
  line-height: 1.25;
  color: #212B36;
}


/* ---------------------novelty-------------------- */

.novelty {
  background-color: #fafafa;
}

.novelty__title {
  margin-bottom: 15px;
}



/* -------cart-gadget------ */

.novelty__list {
  margin-bottom: 40px;
}

.modern {
  display: grid;
  justify-items: center;
  grid-gap: 30px;
  text-align: start;
}

.modern__item {
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  overflow: hidden;
}

.modern__cart {
  height: 100%;
}

.cart-gadget {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.cart-gadget__picture-link {
  position: relative;
  display: block;
  padding-bottom: 78.804348%; /* 290/368 */
  overflow: hidden;
}

.cart-gadget__picture-link img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  transition: transform 0.3s;
}

.cart-gadget__box-text {
  padding: 6.756757%; /* 25/370 */
  border-bottom: 1px solid #E7E7E7;
  flex-grow: 1;
}

.cart-gadget__box-text p {
  font-weight: 500;
}

.cart-gadget__subtitle {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #212B36;
}

.cart-gadget__subtitle a {
  transition: color 0.3s;
}

.cart-gadget__reit {
  padding-bottom: 30px;
}

/* -----------ratings------------ */

.cart-gadget__rat {
  padding-left: 6.756757%; /* 25/370 */
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

.rating__box {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.rating__box::before {
  content: "★★★★★";
  display: block;
}

.rating__star {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.rating__input {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.rating__label {
  flex: 0 0 20%;
  width: 100%;
  color: #ffffff;
  cursor: pointer;
}

.rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s;
}

.rating__input:checked,
.rating__input:checked ~ .rating__label {
  color: rgba(255, 166, 69, 1);
}

.rating__review {
  flex-grow: 1;
}

.rating__review span::before {
  content: "(";
}

.rating__review span::after {
  content: ")";
}

.rating__price {
  padding: 15px 15px 15px 20px;
  border-left: 1px solid #E7E7E7;
  font-weight: 600;
  color: #212B36;
}

/* -------slider------- */

.novelty__cursor {
  display: inline-flex;
  padding: 6px;
  background: #FFFFFF;
  border: 0.5px solid #E7E7E7;
  border-radius: 23px;
}

.slider__item:not(:last-child) {
  margin-right: 10px;
}

.slider__btn {
  width: 30px;
  height: 30px;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  transition: color 0.3s;
}

.slider__btn--left {
}

.slider__btn--left::before {
  content: "🠔";
  display: block;
  padding-bottom: 1px;
}

.slider__btn--right::after {
  content: "🠖";
  display: block;
  padding-bottom: 1px;
}

/* ---------------------trending-------------------- */


.trending__title {
  margin-bottom: 15px;
}

.trending__list {
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  overflow: hidden;
}

.object {
  display: grid;
  text-align: start;
}

.object__cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 7.352941% 7.352941%  11.764706%; /* 25/340 */
  border: 1px solid #E7E7E7;
  background-color: #FFFFFF;
}

.cart-object__link {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 76.470588%; /* 260/340 */
  margin-bottom: 24px;
  border-radius: 6px;
}

.cart-object__link img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  transition: transform 0.3s;
}

.cart-object__box-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  margin-bottom: 8px;
  font-weight: 600;
  color: #212B36;
}

.cart-object__price {
  font-size: 20px;
  line-height: 1.3;
}

.cart-object__title {
  font-size: 24px;
  line-height: 1.25;
}

.cart-object__title a {
  transition: color 0.3s;
}



@media (min-width: 576px) {
  .modern {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }

  .trending__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {

  .trending__list {
    grid-template-columns: repeat(3, 1fr);
  }

}


@media (max-width: 991.98px) {


  .cart-list__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {

  .product {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cart-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
  }

  .cart-list__box {
    position: relative;
    padding-right: 15.473684%;
  }

}


@media (any-hover:hover) {
  .cart-list__link:hover img,
  .cart-gadget__picture-link:hover img,
  .cart-object__link:hover img {
    transform: scale(1.1);
  }

  .rating__label:hover,
  .rating__label:hover ~ .rating__label,
  .rating__label:checked .rating__label:hover {
    color: rgba(255, 166, 69, 0.7);
  }

  .slider__btn:hover {
    background-color: #3056D3;
    color: #FFFFFF;
  }

  .cart-gadget__subtitle:hover a,
  .cart-object__title:hover a {
    color: #637381;
  }
  
}


/* =====================collections===================== */


/* ----------------latest-collections------------------- */

.latest-collections__title:not(:last-child) {
  margin-bottom: 15px;
}

.dress {
  display: grid;
  grid-gap: 20px;
}

.cart-dress {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart-dress__image-link {
  position: relative;
  display: block;
  overflow: hidden;
}

.cart-dress__image-link--padding {
  margin-bottom: 20px;
  padding-bottom: 111.111111%; /* 270/300 */
  border-radius: 8px;
}

.cart-dress__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.3s;
}

.wrap-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.wrap-content__left {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.wrap-content__title {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  color: #212B36;
  flex-grow: 1;
}

.wrap-content__title:not(:last-child) {
  margin-bottom: 4px;
}

.wrap-content__text {
  font-weight: 500;
  transition: color 0.3s;
}

.wrap-content__right {
  font-weight: 700;
  color: #3056D3;
}


/* ----------------featured-products------------------- */

.featured-products__title:not(:last-child) {
  margin-bottom: 15px;
}

.cart-dress--border {
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  overflow: hidden;
}

.cart-dress__image-link--responsive-s,
.cart-dress__image-link--responsive-b {
  padding-bottom: 47.245509%; /* 349/468 */
}

.cart-dress__icon-menu {
  position: relative;
}

/* ----------dropdown__link------ */
.cart-dress__list-drop {
  position: absolute;
  left: 6.410256%;
  bottom: 10.683761%; /* 50/468 */
}

.dropdown {
  display: flex;
}

.dropdown__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.14);
}

.dropdown__item:not(:last-child) {
  margin-right: 12px;
}

.dropdown__link {
  display: inherit;
}
/* ----------dropdown__link------ */

.wrap-content--padding {
  padding: 4.477612%; /* 30/670 */
}

.wrap-content__left--rewer {
  flex-direction: column-reverse;
  row-gap: 10px;
}

.wrap-content__curent-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.wrap-content__old {
  text-decoration: line-through;
  
}

.wrap-content__old:not(:last-child) {
  margin-right: 10px;
}
  
.wrap-content__actual {
  color: #212B36
}

.wrap-content__right > span::before {
  content: "-";
}
.wrap-content__right > span::after {
  content: "%";
}


/* ----------------shop-category------------------- */

.shop-category__title {
  text-align: start;
}

.shop-category__title:not(:last-child) {
  margin-bottom: 15px;
}

.shop-category__text {
  margin-bottom: 20px;
  text-align: start;
}

.shop-category__button {
  display: inline-block;
  min-width: 142px;
  padding: 7px 29px;
  font-weight: 600;
  color: #3056D3;
  border: 1px solid #3056D3;
  border-radius: 4px;
  transition: all 0.3s;
}

.list-shop__cart {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 3.468208% 3.468208% 7.225434% 3.468208%;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 12px;
}

.text-position__tag {
  text-transform: capitalize;
  color: #637381;
}

.text-position__tag::before {
  content: "#";
}

.text-position__title {
  font-size: 24px;
  line-height: 1.25;
}




/* ----------------top-collections------------------- */

.top-collections__title:not(:last-child) {
  margin-bottom: 15px;
}

.uni-top__cart {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-top--margin {
  flex-grow: 1;
}
.text-top__title {
  font-size: 20px;
  line-height: 1.3;
}

.price-top__old {
  margin-right: 10px;
  color: #637381;
  text-decoration: line-through;
}

.uni-top__wrap {
  display: flex;
  justify-content: center;
}

.uni-top__btn {
  padding: 7px 19px;
  font-size: 14px;
  line-height: 1.4; /* 20/14 */
  font-weight: 600;
  border: 1px solid #212B36;
  border-radius: 4px;
  color: #212B36;
  transition: all 0.3s;
  background-color: #FFFFFF;
}


@media (min-width: 576px) {
  
  /* ----------------shop-category------------------- */
  .shop-category__list,
  .top-collections__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest-collections__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-products__list {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (min-width: 768px) {
/* ----------------shop-category------------------- */
  .shop-category__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .shop-category__text p {
    flex: 0 1 510px;
  }
}

@media (min-width: 992px) {

  .cart-dress__list-drop {
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  /* ----------------shop-category------------------- */
  .shop-category__text {
    margin-bottom: 70px;
  }


  .shop-category__list {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .top-collections__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .dress {
    grid-gap: 30px;
  }

  .latest-collections__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .featured-products__list > .dress__item:nth-child(1) {
    grid-column: span 2;
  }

  .featured-products__list > .dress__item:nth-child(4) {
    grid-column: span 2;
  }

  .featured-products__list {
    grid-template-columns: 38.04878% auto 38.04878%;
  }

  .cart-dress__image-link--responsive-s {
    padding-bottom: 73.57265%;
  }

}

@media (max-width: 767.98px) {

  .shop-category__text p {
    margin-bottom: 10px;
  }

}


@media (any-hover:hover) {

  .shop-category__button:hover {
    color: #FFFFFF;
    background-color: #3056D3;
  }

  .uni-top__btn:hover {
    background-color: #212B36;
    color: #ffffff;
  }

  .wrap-content__text:hover {
    color: #212B36;
  }

  .cart-dress__image-link:hover img {
    transform: scale(1.1);
  }

  .cart-dress--border:hover .cart-dress__list-drop {
    bottom: 10.683761%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .dropdown__item:hover { 
    background-color: rgba(250, 250, 250, 0.7);
    cursor: pointer;
  }

}